.moadalRegistration{
	display:none;
height:100vh;
width:100%;
top:0;
position:fixed;
background-color: rgba(0, 0, 0, 0.2);
z-index: 500;
	.moadalRegistration__form{

	margin-top: 20vh;

		.form-container{
			background-color: white;
			margin:auto;
			width:400px;
			.form-container__title{
			display:block;
			@include text(20px);
			text-align: center;
			padding: 10px;
			color:$dBlue;
			text-transform:uppercase;
			letter-spacing: 2px;
			font-weight: 900;
			}
				.form-container__close{
				float:right;
				margin-right: 5%;
				font-size: 20px;
				color:$dBlue;
				margin-top: -36px;
				cursor: pointer;
				}
			.form-container__note{
				padding: 0 10px;
					display:block;

			}
			.form-container__fields{

				padding-bottom: 10px;
				.form-container__label{
						padding-left: 5%;
						display:block;
				}
				input{
						padding: 0 10px;
						margin-left: 5%;
						width: 90%;
				}
				textarea{
						padding: 0 10px;
						margin-left: 5%;
						width: 90%;
				}

			

				.form-container__button{
					margin-top: 10px;
						padding: 10px;
					display:block;
					@include text(16px);
					font-weight: 900;
				}


			}
		



		}


	}
}